.divSearcher {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
}

.search-bar {
    width: 100%;
    max-width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.search-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 24px;
}

.search-input {
    width: 100%;
    padding: 10px 40px 10px 20px; 
    font-size: 18px;
    border: none;
    border-radius: 24px;
    outline: none;
    box-sizing: border-box;
}

.search-icon-container {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.search-vr {
    width: 1px;
    height: 24px;
    background-color: #ccc;
    margin-right: 10px;
}

.search-hr {
    border: none;
    border-top: 1px solid #ccc;
    width: 100%;
    max-width: 70%;
    margin: 20px auto;
}

.help-button {
    background-color: white;
    width: 20px;
    height: 20px;
    background-image: url('https://cdn-icons-png.flaticon.com/128/189/189665.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    outline: none;
}

.search-button {
    background-color: white;
    width: 20px;
    height: 20px;
    background-image: url('https://cdn-icons-png.flaticon.com/512/622/622669.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    outline: none;
}

.content-box {
    flex-grow: 1;
    width: 100%;
    max-width: 70%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-y: auto;
    text-align: left;
    box-sizing: border-box;
}
