html, body {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 93vh;
  padding: 20px 100px;
}

.tabs {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.tabs button {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
  width: 145px;
  font-weight: bold;
  color: gray;
}

.tabs button.active {
  background-color: #ddd;
  color: black;
}

.tabs button:hover:not(.active) {
  background-color: #e7e7e7;
}

.content {
  flex-grow: 1; /* Este div ocupará todo el espacio restante */
  padding: 20px;
  overflow: hidden; /* Asegura que no haya scrollbars en el contenido */
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}